ControlWork#2/sheme.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PurchaseOrder">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Item">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ProductName" type="xs:string" />
                            <xs:element name="Quantity" type="xs:unsignedByte" />
                            <xs:element name="USPrice" type="xs:decimal" />
                            <xs:element minOccurs="0" name="ShipDate" type="xs:date" />
                            <xs:element minOccurs="0" name="Comment" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="PartNumber" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="OrderDate" type="xs:date" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>